.all {
  display: flex;
  justify-content: center;
  align-items: center;
}
.styleLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border: 2px solid black;
  width: 50%;
  padding: 50px;
}
#email {
  padding: 10px;
}
#password {
  padding: 10px;
}
#otpNumber {
  padding: 10px;
}
#loginBtn {
  border-radius: 10px;
  background-color: rgb(17, 72, 128);
  color: white;
  padding: 2px 15px;
}
#otpBtn {
  padding: 2px 15px;
  border-radius: 10px;
  background-color: rgb(17, 72, 128);
  color: white;
}
#otp {
  background-color: gray;
  padding: 0px 15px;
  border-radius: 5px;
}
/* next page  */
.Logout {
  background-color: rgb(17, 72, 128);
  color: white;
}
.form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.card {
  padding: 3px;
  margin-top: 5px;
}
.list {
 
}
